* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url("font/HankenGrotesk-VariableFont_wght.ttf"); 
}
body {
    font-family: 'Hanken Grotesk', sans-serif;
    background: hsl(221, 100%, 96%);
    
}
main {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main > div {
    
    background-color: hsl(0, 0%, 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "primeiro" "segundo";
    height: 50%;
    width: 25%;
    padding-top: 15px;
    
}

#seu-resultado{grid-area: primeiro;}
#parte-resumo{grid-area: segundo;}

#seu-resultado {
    background: linear-gradient(#6743ff, #4835f1, #3c31ed);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 15px;
    color: hsl(0, 0%, 100%);
    border-radius: 12px;
}
#resultado {
    width: 40%;
    padding: 30px;
    border-radius: 100%;
    background: linear-gradient(#4a26d0, #462ede, #4734ee);
    text-align: center;
}
#medida-resultado {
    font-size: 3em;
}
#porcetagem {
    color: rgba(255, 255, 255, 0.425);
}
#mensagem-final {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
}
#frase-resultado {
   
    text-align: center;
    padding: 10px 80px;
    font-size: 0.9em;

}
#parte-resumo {
    
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    padding: 15px;
    border-radius: 0px 12px 12px 0px;
}

#rendimento > div {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    padding: 13px;
}



.icone {
    display: flex;
    gap: 7px;
}
.historico {
    display: flex;
    justify-content: space-between;
}
#continuar {
    border-radius: 20px;
    background-color:  hsl(224, 30%, 27%);
    text-align: center;
    position: relative;
    top: 30px;
    padding: 10px;
}
a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    
}

#continuar:hover {
    background: linear-gradient(#6743ff, #4835f1, #3c31ed);;
}

