* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url("font/HankenGrotesk-VariableFont_wght.ttf"); 
}
body {
    font-family: 'Hanken Grotesk', sans-serif;
    background: hsl(221, 100%, 96%);
    
}
main {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
main > div {
    border: 1px solid red;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "primeiro" "segundo";
    height: 50%;
    width: 25%;
    padding-top: 15px;
    
}

#item1{grid-area: primeiro;}
#item2{grid-area: segundo;}

#item1 {
    background: hsl(252, 100%, 67%);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 15px;
    color: hsl(0, 0%, 100%);
}
#resultado {
    width: 40%;
    padding: 30px;
    border-radius: 100%;
    background-color: hsla(256, 72%, 46%, 1);
    text-align: center;
}
#medida-resultado {
    font-size: 3em;
}
#porcetagem {
    color: rgba(255, 255, 255, 0.425);
}
#mensagem-final {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 0;
}
#frase-resultado {
   
    text-align: center;
    padding: 10px 80px;
    font-size: 0.9em;

}
